<div id="container" class="containerFornecedor">
    <div class="container1Fornecedor">
        <div>
            <a class="btn btn-success" href="/Fornecedor/Create"> Novo</a>
            <a class="btn btn-primary" href="https://localhost:7215/"> Voltar</a>
        </div>
    </div>
    <div class="container2Fornecedor">
        <table class="TableContainerFornecedor">
            <thead class="theadFornecedor">
            <th>
                Código
            </th>
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                Estado
            </th>
            <th>
                Cidade
            </th>
            <th>
                CNPJ
            </th>

            </thead>
            <tbody>
                @if (ViewBag.Fornecedor != null){
                @foreach (var item in ViewBag.Fornecedor)
                {
                    <tr>
                        <td class="tdFornecedor">@item.codigo</td>
                        <td class="tdFornecedor">@item.Nome</td>
                        <td class="tdFornecedor">@item.Telefone</td>
                        <td class="tdFornecedor">@item.Estado</td>
                        <td class="tdFornecedor">@item.Cidade</td>
                        <td class="tdFornecedor">@item.CNPJ</td>
                        <td class="tdFornecedor">
                            <div class="IconesContainerFornecedor">
                                <img class="imagenslixo" src="/Imagens/trash.svg" alt="Excluir" />
                                <img class="imagenseditar" src="/Imagens/pencil-square.svg" alt="Editar" />
                        </td>
                    </tr>

                }
                }
            </tbody>


        </table>
    </div>
    <div class="container3Fornecedor">
        <div>
            
        </div>
    </div>
</div>

