@using AlmoxafiradoFront.DTO
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var erro in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@erro.ErrorMessage</p>
        }
    </div>
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Saida</title>
    <link rel="stylesheet" href="style.css">
</head>
<bodycatcre>

    <div class="containercatcre">
        <h1catcre>Cadastro de Saida</h1catcre>
        <form action="/Saida/Cadastro" method="post">


            <div class="form-groupcatcre">
                <label for="dataSaida">Data da Saida:</label>
                <input type="datetime-local" id="dataSaida" name="dataSaida" required>
            </div>

            <div class="form-groupcatcre">
                <label for="codigoSecretaria">Secretaria:</label>
                <select id="codigoSecretaria" name="codigoSecretaria" required>
                    <option value="">Selecione a secretaria</option>
                    @if (ViewBag.departamentos != null)
                    {
                        foreach (var dep in (List <SecretariaDTO>)ViewBag.departamentos)
                        {
                            <option value="@dep.codigo">@dep.nome</option>
                        }
                    }
                </select>
            </div>


            <div class="form-groupcatcre">
                <label for="codigoProduto">Produto:</label>
                <select id="codigoProduto" name="codigoProduto" required>
                    <option value="">Selecione o produto</option>
                    @if (ViewBag.departamentosP != null)
                    {
                        foreach (var depP in (List<ProdutoDTO>)ViewBag.departamentosP)
                        {
                            <option value="@depP.codigo">@depP.descricao</option>
                        }
                    }
                </select>
            </div>

            <div class="form-groupcatcre">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" required>
            </div>

            <div class="form-groupcatcre">
                <label for="observacao">Observação:</label>
                <input type="text" id="observacao" name="observacao" required>
            </div>

            <div class="form-buttonscatcre">
                <button type="submit" class="btncatcre savecatcre">Salvar</button>
                <button type="button" class="btncatcre backcatcre" onclick="window.history.back();">Voltar</button>
            </div>
        </form>
    </div>

</bodycatcre>
</html>