@using AlmoxafiradoFront.DTO

<div class="cabecalho">
    <div class="logo">
        <img src="/images/logo.png" alt="Logo" height="35" />
        <span class="nome-empresa">Almoxarifado Central</span>
    </div>
    <div class="perfil">
        @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

        <span class="pessoa">@HttpContextAccessor.HttpContext.Session.GetString("UsuarioLogado")</span>
        <button class="loginlogoff" onclick="location.href='/'">Logoff</button>
    </div>
</div>
    <div class="containercatcre">
        <h1catcre>Cadastro de Entrada</h1catcre>
        <form action="/entrada/Cadastro" method="post">


            <div class="form-groupcatcre">
                <label for="dataEntrada">Data da Entrada:</label>
                <input type="datetime-local" id="dataEntrada" name="dataEntrada" required>
            </div>

            <div class="form-groupcatcre">
                <label for="codigoFronecedor">Secretaria:</label>
                <select id="codigoFronecedor" name="codigoFronecedor" required>
                    <option value="">Selecione o fornecedor</option>
                    @if (ViewBag.departamentosF != null)
                    {
                        foreach (var dep in (List<FornecedorDTO>)ViewBag.departamentosF)
                        {
                            <option value="@dep.codigo">@dep.nome</option>
                        }
                    }
                </select>
            </div>


            <div class="form-groupcatcre">
                <label for="codigoProduto">Produto:</label>
                <select id="codigoProduto" name="codigoProduto" required>
                    <option value="">Selecione o produto</option>
                    @if (ViewBag.departamentosP != null)
                    {
                        foreach (var depP in (List<ProdutoDTO>)ViewBag.departamentosP)
                        {
                            <option value="@depP.codigo">@depP.descricao</option>
                        }
                    }
                </select>
            </div>

            <div class="form-groupcatcre">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" required>
            </div>

            <div class="form-groupcatcre">
                <label for="observacao">Observação:</label>
                <input type="text" id="observacao" name="observacao" required>
            </div>

            <div class="form-buttonscatcre">
                <button type="submit" class="btncatcre savecatcre">Salvar</button>
                <button type="button" class="btncatcre backcatcre" onclick="window.history.back();">Voltar</button>
            </div>
        </form>
    </div>
