<div class="cabecalho">
    <div class="logo">
        <img src="/images/logo.png" alt="Logo" height="35" />
        <span class="nome-empresa">Almoxarifado Central</span>
    </div>
    <div class="perfil">
        @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

        <span class="pessoa">@HttpContextAccessor.HttpContext.Session.GetString("UsuarioLogado")</span>
        <button class="loginlogoff" onclick="location.href='/'">Logoff</button>
    </div>
</div>

<div id="container" class="containerEnt">
    <div class="container1Ent">

        <div>
            <a class="btnProV " href="/Home/Dashboard">
                Voltar
            </a>
        </div>
    </div>
    <div class="container2Ent">
        <table class="TableContainerEnt">
            <thead class="theadEnt">
            <th>
                Código
            </th>
            <th>
                Data de Entrada
            </th>
            <th>
                Codigo do fornecedor
            </th>
            <th>
                Codigo do Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Observações
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Entradas)
                {
                    <tr>
                        <td class="tdEnt">@item.codigo</td>
                        <td class="tdEnt">@item.dataEntrada</td>
                        <td class="tdEnt">@item.codigoFronecedor</td>
                        <td class="tdEnt">@item.codigoProduto</td>
                        <td class="tdEnt">@item.quantidade</td>
                        <td class="tdEnt">@item.observacao</td>
                        <td class="tdEnt">
                            <div class="IconesContainerEnt">
                                <div class="Icone1Ent">
                                    <a class="trash-btn">
                                        <div class="fas fa-trash"></div>
                                    </a>
                                </div>
                                <div class="Icone2Ent">
                                    <a class="edit-button">
                                        <div class="fas fa-edit"></div>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>


        </table>
    </div>
    <div class="containerEnt">
        <div>
            <a class="btnEnt" href="/Entrada/Create">
                Novo
            </a>
        </div>
    </div>
</div>

