<div id="container" class="containerPro">
    <div class="container1Pro">
        <div>
            <a class="btnProV " href="/Home/Dashboard">
                Voltar
            </a>

        </div>
    </div>
    <div class="container2Pro">
        <table class="TableContainerPro">
            <thead class="theadPro">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Preço
            </th>
            <th>
                Unidade de Medida
            </th>
            <th>
               Estoque Atual
            </th>
            <th>
                E Permanente
            </th>
            <th>
                Codigo da Categoria
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Produtos )
                {
                    <tr>
                        <td class="tdPro">@item.codigo</td>
                        <td class="tdPro">@item.descricao</td>
                        <td class="tdPro">@item.preco</td>
                        <td class="tdPro">@item.unidadeMedida</td>
                        <td class="tdPro">@item.estoqueAtual</td>
                        <td class="tdPro">@item.epermanente</td>
                        <td class="tdPro">@item.codigoCategoria</td>
                        <td class="tdPro">
                            <div class="IconesContainerPro">
                                <div class="Icone1Pro">
                                    <a class="trash-btn">
                                        <div class="fas fa-trash"></div>
                                    </a>
                                </div>
                                <div class="Icone2Pro">
                                    <a class="edit-button">
                                        <div class="fas fa-edit"></div>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>


        </table>
    </div>
    <div class="containerPro">
        <div>
            <a class="btnPro" href="/Produto/Create">
                Novo
            </a>
            <a class="btnPro" href="/Produto/ProZero">
                Fora do estoque
            </a>
            <a class="btnPro" href="/Produto/Rank">
                Top10 + Saidos
            </a>
           
        </div>
    </div>
</div>


