<div id="container" class="containerProduto">
    <div class="container1Produto">
        <div>
            <a class="btn btn-success" href="/Produto/Create"> Novo</a>
            <a class="btn btn-primary" href="https://localhost:7215/"> Voltar</a>
        </div>
    </div>
    <div class="container2Produto">
        <table class="TableContainerProduto">
            <thead class="theadProduto">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                UnidadeMedida
            </th>
            <th>
                EstoqueAtual
            </th>
            <th>
                Epermanente
            </th>
            <th>
                CódigoCategoria
            </th>

            </thead>
            <tbody>
                
                    @foreach (var item in ViewBag.Produtos)
                    {
                        <tr>
                            <td class="tdProduto">@item.codigo</td>
                            <td class="tdProduto">@item.descricao</td>
                            <td class="tdProduto">@item.UnidadeMedida</td>
                            <td class="tdProduto">@item.EstoqueAtual</td>
                            <td class="tdProduto">@item.Epermanente</td>
                            <td class="tdProduto">@item.CodigoCategoria</td>
                           
                        </tr>

                    }
                
                
            </tbody>


        </table>
    </div>
    <div class="container3Produto">
        <div>
           
        </div>
    </div>
</div>

