<div id="container" class="containerSecretaria">
    <div class="container1Secretaria">
        <div>
            <a class="btn btn-success" href="/Secretaria/Create"> Novo</a>
            <a class="btn btn-primary" href="https://localhost:7215/"> Voltar</a>
        </div>
    </div>
    <div class="container2Secretaria">
        <table class="TableContainerSecretaria">
            <thead class="theadSecretaria">
            <th>
               NomeSec
            </th>
            <th>
                EndereçoSec
            </th>
            <th>
                Bairro
            </th>
            <th>
                Cidade
            </th>
            <th>
                EstadoSigla
            </th>
            <th>
                Telefone
            </th>
            <th>
                CNPJ
            </th>
            </thead>
            <tbody>
                @if (ViewBag.Secretaria != null){
                @foreach (var item in ViewBag.Secretaria )
                {
                    <tr>
                        <td class="tdSecretaria">@item.NomeSec</td>
                        <td class="tdSecretaria">@item.EnderecoSec</td>
                        <td class="tdSecretaria">@item.Bairro</td>
                        <td class="tdSecretaria">@item.Cidade</td>
                        <td class="tdSecretaria">@item.EstadoSigla</td>
                        <td class="tdSecretaria">@item.Telefone</td>
                        <td class="tdSecretaria">@item.CNPJ</td>
                        <td class="tdSecretaria">
                            <div class="IconesContainerSecretaria">
                                <img class="imagenslixo" src="/Imagens/trash.svg" alt="Excluir" />
                                <img class="imagenseditar" src="/Imagens/pencil-square.svg" alt="Editar" />
                            </div>
                        </td>
                    </tr>

                }
                }
            </tbody>


        </table>
    </div>
    <div class="container3Secretaria">
        <div>
           
        </div>
    </div>
</div>