<div id="container" class="containerPro">
    <div class="container2Pro">
        <table class="TableContainerPro">
            <thead class="theadPro">
            <th>
                Ranking
            </th>
            <th>
                Codigo
            </th>
            <th>
                Descrição
            </th>
            <th>
                Total de Saidas
            </th>
            <th>
                Quantidade total
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Secretaria)
                {
                    <tr>
                        <td class="tdPro">@item.ranking</td>
                        <td class="tdPro">@item.codigo</td>
                        <td class="tdPro">@item.nome</td>
                        <td class="tdPro">@item.totalSaidas</td>
                        <td class="tdPro">@item.quantidadeTotal</td>
                        <td class="tdPro">
                            <div class="IconesContainerPro">
                                <div class="Icone1Pro">
                                    <a class="trash-btn">
                                        <div class="fas fa-trash"></div>
                                    </a>
                                </div>
                                <div class="Icone2Pro">
                                    <a class="edit-button">
                                        <div class="fas fa-edit"></div>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>


        </table>
    </div>
    <div class="container3Pro">
        <div>
            <a class="btnPro " href="/">
                Voltar
            </a>
        </div>
    </div>
</div>

